/* src/pages/SneakerDetail/SneakerDetail.css */

.SneakerPage {
  background-color: #1f1f1f; /* Dark background color */
  color: #f0f0f0; /* Light text color */
  padding: 20px;
  margin: 0 auto;
  margin-top: 90px;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.SneakerHeader {
  text-align: center;
  margin-bottom: 20px;
}

.SneakerHeader h1 {
  font-size: 2.5em;
  color: #806cc1; /* Gold color */
}

.SneakerHeader h2 {
  font-size: 1.8em;
  color: #806cc1; /* Gold color */
}

.SneakerInfo {
  margin-bottom: 50px;
  margin-top: 50px;
}

.SneakerInfo p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.SneakerInfo strong {
  color: #19d85e; /* Orange color */
}

button {
  background-color: #1DB954; /* Spotify Green */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px; /* Spacing between buttons */
  margin-bottom: 40px;
}

button:hover {
  background-color: #1ED760; /* Lighter Green */
}

#delete-btn {
  background-color: #E64A19; /* Dark Red */
}

#delete-btn:hover {
  background-color: #BF360C; /* Darker Red */
}

#back-btn, #edit-btn {
  background-color: #1DB954; /* Spotify Green */
}

#back-btn:hover, #edit-btn:hover {
  background-color: #1ED760; /* Lighter Green */
}

#back-btn {
  margin-left: 20vh; /* Dark Red */
}